In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('/home/dheeraj/my_projects/my_project_env/practice/EDA_and_prediction/sku.csv')
df.head()

,SKU,01/08/2019,02/08/2019,03/08/2019,04/08/2019,05/08/2019,06/08/2019,07/08/2019,08/08/2019,09/08/2019,...,22/07/2020,23/07/2020,24/07/2020,25/07/2020,26/07/2020,27/07/2020,28/07/2020,29/07/2020,30/07/2020,31/07/2020
0,2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763
3,3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
4,3166,369,354,343,340,330,337,350,343,340,...,335,328,325,319,316,319,329,336,349,352

In [59]:
df.iloc[0:,336:367].mean()

01/07/2020    2481.736842
02/07/2020    2471.145749
03/07/2020    2466.502024
04/07/2020    2487.995951
05/07/2020    2476.765182
06/07/2020    2506.890688
07/07/2020    2472.817814
08/07/2020    2450.376518
09/07/2020    2428.384615
10/07/2020    2438.388664
11/07/2020    2454.935223
12/07/2020    2442.595142
13/07/2020    2425.538462
14/07/2020    2405.655870
15/07/2020    2395.016194
16/07/2020    2424.489879
17/07/2020    2444.344130
18/07/2020    2432.744939
19/07/2020    2399.024291
20/07/2020    2405.558704
21/07/2020    2422.303644
22/07/2020    2440.060729
23/07/2020    2458.421053
24/07/2020    2483.562753
25/07/2020    2492.923077
26/07/2020    2475.408907
27/07/2020    2488.761134
28/07/2020    2486.012146
29/07/2020    2483.251012
30/07/2020    2470.870445
31/07/2020    2483.757085
dtype: float64

In [60]:
aug = df.iloc[0:, 1:32].mean().mean()
aug

2166.671542379522

In [61]:
sep = df.iloc[0:, 32:62].mean().mean()
sep

2335.942105263158

In [63]:
octu = df.iloc[0:, 62:93].mean().mean()
octu

2389.984066866919

In [64]:
nov = df.iloc[0:, 93:123].mean().mean()
nov

2422.9439946018892

In [65]:
dec = df.iloc[0:, 123:154].mean().mean()
dec

2551.4261460101866

In [66]:
jan = df.iloc[0:, 154:185].mean().mean()
jan

2503.6044142614605

In [67]:
feb = df.iloc[0:, 185:214].mean().mean()
feb

2509.208013402206

In [68]:
march = df.iloc[0:, 214:245].mean().mean()
march

2642.623742980279

In [69]:
april= df.iloc[0:, 245:275].mean().mean()
april

2578.066396761133

In [70]:
may= df.iloc[0:, 275:306].mean().mean()
may

2423.3964999347

In [71]:
june= df.iloc[0:, 306:336].mean().mean()
june

2470.1121457489876

In [72]:
july= df.iloc[0:, 336:367].mean().mean()
july

2454.717382786993